<footer>
       
    <div class="container-footer-all">
     
         <div class="container-body">

             <div class="colum1">
                 <h1>Mas informacion del aplicativo</h1>

                <p>Somo un proyecto instituciones creado para mostrar 
                un tour virtual de las diferentes sede para la Fundación 
                de educación superior San José como parte de semillero de investigación.
                </p>

             </div>

             <div class="colum2">

                 <h1>Redes Sociales</h1>

                 <div class="row">
                     <img src="../../../assets/img/facebook.png">
                     <label>Siguenos en Facebook</label>
                 </div>
                 <div class="row">
                     <img src="../../../assets/img/twitter.png">
                     <label>Siguenos en Twitter</label>
                 </div>
                 <div class="row">
                     <img src="../../../assets/img/instagram.png">
                     <label>Siguenos en Instagram</label>
                 </div>
                 <div class="row">
                     <img src="../../../assets/img/google-plus.png">
                     <label>Siguenos en Google Plus</label>
                 </div>
                 <div class="row">
                     <img src="../../../assets/img/pinterest.png">
                     <label>Siguenos en Pinteres</label>
                 </div>


             </div>

             <div class="colum3">

                 <h1>Informacion Contactos</h1>

                 <div class="row2">
                     <img src="../../../assets/img//house.png">
                     <label>Cll 67 # 14 A 29 Bogotá - Colombia</label>
                 </div>

                 <div class="row2">
                     <img src="../../../assets/img/smartphone.png">
                     <label>347 00 00 - 742 42 40</label>
                 </div>

                 <div class="row2">
                     <img src="../../../assets/img/contact.png">
                      <label>Usanjose@usanjose.edu.co</label>
                 </div>

             </div>

         </div>
     
     </div>
     
     <div class="container-footer">
            <div class="footer">
                 <div class="copyright">
                     © Modificado de | <a href="">Magtimus</a>
                 </div>

                 <div class="information">
                     <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                 </div>
             </div>

         </div>
     
 </footer>